*{
    margin: 0;
    padding: 0;
}

body { 
    overflow: hidden; 
}

div.ui.secondary.pointing.menu{
    position: absolute;
    z-index: 11;
    width: 100%;
}

nav a{
    font-size: 1.5rem;
}

canvas{
    z-index: 10;
    position: relative;
}

div.ui.vertical.icon.menu{
    position: absolute;
    z-index: 11;
}

div.side-bar{
    height: 105%;
    display: flex;
    align-items: center;
    position:absolute;
    z-index:11;
}

div.colors-col{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    height: 25px;
}

div.colors-col div{
    border: 1px solid wheat;
    height: 100%;
    width: 100%;
    border-radius: 2px;
}

div.colors div.colors-col div:hover{
    cursor: pointer;
}

div.colors div.colors-col:nth-of-type(1) div:first-child{
    background-color: rgb(124, 43, 255);
}

div.colors div.colors-col:nth-of-type(1) div:last-child{
    background-color:rgb(255, 64, 214);
}

div.colors div.colors-col:nth-of-type(2) div:first-child{
    background-color: cornflowerblue;
}

div.colors div.colors-col:nth-of-type(2) div:last-child{
    background-color: wheat;
}

div.colors div.colors-col:nth-of-type(3) div:first-child{
    background-color: rgb(231, 224, 224);
}

div.colors div.colors-col:nth-of-type(3) div:last-child{
    background-color: rgb(179, 174, 174);
}

div.colors div.colors-col:nth-of-type(4) div:first-child{
    background-color: rgb(255, 74, 74);
}

div div.colors div.colors-col:nth-of-type(4) div:last-child{
    background-color: rgb(137, 255, 90);
}

div.colors div.colors-col:nth-of-type(5) div:first-child{
    background-color: rgb(255, 224, 49);
}

div.colors div.colors-col:nth-of-type(5) div:last-child{
    background-color: rgb(0, 0, 0);
}