*{
    margin: 0;
    padding: 0;
}

body { 
    overflow: hidden; 
}

div.ui.secondary.pointing.menu{
    position: absolute;
    z-index: 11;
    width: 100%;
}

nav{
    width: 100%;
    position: fixed;
    z-index:11;
    /* margin-top: 1.2rem; */
}

nav a{
    font-size: 1.5rem;
}

canvas{
    z-index: 10;
    position: fixed;
}

div.ui.vertical.icon.menu{
    position: absolute;
    z-index: 11;
}

div.side-bar{
    height: 105%;
    display: flex;
    align-items: center;
    position:absolute;
    z-index:11;
}

section{
    display: flex;
    align-items: flex-end;
    height: 100vh;
}

div.ui.menu{
    height: 7vh;
    position: relative;
    z-index: 11;
}